In [20]:
import pandas as pd

apple_df = pd.read_csv('AAPL.csv')
microsoft_df = pd.read_csv('MSFT.csv')


df_merge=pd.merge(apple_df,microsoft_df,how='inner',on='Date')
#x represents AAPL, y represents MSFT
df_merge['AAPL_return'] = df_merge['Adj Close_x'].pct_change() #Apple's percentage change (daily returns)
df_merge['MSFT_return'] = df_merge['Adj Close_y'].pct_change() #Microsoft's percentage change (daily returns)

df_merge[['AAPL_return','MSFT_return']].corr()

#252 is the amount of trading days in a year
#volatility growss with the square root of time

#correlation between Apple's and Microsoft's daily returns is roughly 0.56. This indicates positive somewhat strong correlation.
#A lower correlation is needed for managaing portfolio risk as stock with lower correlation 
#means you can diversify away non-systematic risk

df_merge[['AAPL_return','MSFT_return']].std() * (252**0.5)

#the standard deviation of annualized returns are low indiacting low volatility levels and low risk. 
#Apple's annualized returns has slightly higher volatility.

weights = {'AAPL_return': 0.5, 'MSFT_return': 0.5}

portfolio_returns = []

for index, row in df_merge.iterrows():
    portfolio = 0
    for stock, weight in weights.items():
        portfolio += row[stock] * weight
    portfolio_returns.append(portfolio)

df_merge['Portfolio_return'] = portfolio_returns

df_merge

,Date,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,Adj Close_y,Volume_y,AAPL_return,MSFT_return,Portfolio_return
0,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.553025,493729600,30.620001,31.100000,30.590000,30.950001,23.904985,38409100,NaN,NaN,NaN
1,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.564355,601904800,30.850000,31.100000,30.639999,30.959999,23.912704,49749600,0.001729,0.000323,0.001026
2,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.459939,552160000,30.879999,31.080000,30.520000,30.770000,23.765957,58182400,-0.015907,-0.006137,-0.011022
3,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.447999,477131200,30.629999,30.700001,30.190001,30.450001,23.518795,50559700,-0.001848,-0.010400,-0.006124
4,2010-01-08,7.510714,7.571429,7.466429,7.570714,6.490865,447610800,30.280001,30.879999,30.240000,30.660000,23.680994,51197400,0.006648,0.006897,0.006772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2994,2021-11-23,161.119995,161.800003,159.059998,161.410004,161.410004,96041900,337.049988,339.450012,333.559998,337.679993,337.679993,30427600,0.002422,-0.006327,-0.001952
2995,2021-11-24,160.750000,162.139999,159.639999,161.940002,161.940002,69463600,336.279999,338.160004,333.910004,337.910004,337.910004,21661300,0.003284,0.000681,0.001982
2996,2021-11-26,159.570007,160.449997,156.360001,156.809998,156.809998,76959800,334.350006,337.929993,328.119995,329.679993,329.679993,24217200,-0.031678,-0.024356,-0.028017
2997,2021-11-29,159.369995,161.190002,158.789993,160.240005,160.240005,88748200,334.940002,339.029999,334.739990,336.630005,336.630005,28563500,0.021874,0.021081,0.021477
2998,2021-11-30,159.990005,165.520004,159.919998,165.300003,165.300003,173758500,335.320007,337.779999,328.989990,330.589996,330.589996,42833700,0.031578,-0.017943,0.006818